<header class="header">
  <img src="https://files.catbox.moe/3ox6t3.png" alt="CatMMO Logo" class="logo">
</header>

<nav class="category-nav">
  <ul>
    <li><a routerLink="/mechanics"><img src="path-to-your-icon/mechanics-icon.png" alt="Mechanics Icon" class="icon"> Mechanics</a></li>
    <li><a routerLink="/islands"><img src="path-to-your-icon/islands-icon.png" alt="Islands Icon" class="icon"> Islands</a></li>
    <li><a routerLink="/armors"><img src="https://raw.githubusercontent.com/LaylaTS/cat-mmo/main/RP/textures/items/black_cat_dress.png" alt="Armors Icon" class="icon"> Armors</a></li>
    <li><a routerLink="/weapons"><img src="https://raw.githubusercontent.com/LaylaTS/cat-mmo/main/RP/textures/items/slimebow_sword.png" alt="Weapons Icon" class="icon"> Weapons</a></li>
    <li><a routerLink="/enemies"><img src="path-to-your-icon/enemies-icon.png" alt="Enemies Icon" class="icon"> Enemies</a></li>
    <li><a routerLink="/dungeons"><img src="https://files.catbox.moe/7vq9k6.png" alt="Dungeons Icon" class="icon"> Dungeons</a></li>
  </ul>
</nav>

<div class="content">
  <router-outlet></router-outlet>
</div>